{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "DMZAgent SDK API",
    "version": "0.10.0",
    "summary": "The public surface every DMZAgent SDK speaks: emit events, check guards, and manage conversation settings.",
    "description": "This document describes the wire contract in sdk-spec.md, and nothing beyond it.\n\nIt is deliberately narrow. The reasoning server exposes a much larger internal REST surface; the endpoints here are the ones the four SDKs (Python, TypeScript, Java, C#) are permitted to call, so an integrator can read the whole contract in one sitting.\n\nEvery request and response body references a schema in `schemas/`, which stays the single source of truth — the schemas are JSON Schema 2020-12, which OpenAPI 3.1 uses natively, so nothing is duplicated or restated here.\n\nSee sdk-spec.md for the parts a document like this cannot express: method naming per language, thread safety, resource lifecycle, and the contract-test corpus every SDK must pass.",
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    }
  },
  "externalDocs": {
    "description": "SDK specification (the normative document)",
    "url": "https://github.com/praeceptor-thesis/dmzagent-sdk-spec/blob/main/sdk-spec.md"
  },
  "servers": [
    {
      "url": "https://api.dmzagent.com",
      "description": "Production (constructor default)"
    },
    {
      "url": "https://staging.api.eastern-shore-solutions.com",
      "description": "Staging"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "events",
      "description": "Ingestion. Accepted-only async: a 200 means the frame is stored and enqueued, never that reasoning finished."
    },
    {
      "name": "guards",
      "description": "Synchronous checks a caller can block on."
    },
    {
      "name": "settings",
      "description": "Notification preferences for the calling API key."
    },
    {
      "name": "divisions",
      "description": "Division configuration. Elevated permissions."
    },
    {
      "name": "approvals",
      "description": "Human-in-the-loop controls. A policy that fires require_approval holds the action; the customer renders the decision in their own product and posts it back. No field in these payloads carries DMZAgent presentation."
    },
    {
      "name": "incidents",
      "description": "The append-only incident and remediation ledger behind the anchor returned by /v1/cb/check and /v1/approvals. Read-only: a remediation is appended, never edited."
    }
  ],
  "paths": {
    "/v1/agent-stream/event": {
      "post": {
        "tags": [
          "events"
        ],
        "operationId": "emitEvent",
        "summary": "Emit one event into the agent stream",
        "description": "Every higher-level SDK helper (subject_says, tool_call, tool_result, observation) lands here.\n\nIngestion is accepted-only async by default: the server stores the frame, enqueues it for background fan-out reasoning across the division's workspaces, and returns a lightweight ack. `accepted: true` means the system has the frame and will reason on it. Per-workspace outcomes arrive out of band, via await_outcome, the outcome.completed webhook, or the SDK stream.\n\nWhen the server cannot determine a value it omits the field rather than returning null, so a client must read a missing field as unknown.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentStreamEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Frame stored and enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentStreamEventResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/cb/check": {
      "post": {
        "tags": [
          "guards"
        ],
        "operationId": "checkGuard",
        "summary": "Check whether a subject or interaction is currently allowed to act",
        "description": "Synchronous. `allow` is false only when `state` is open, and `warning` is true when `state` is half_open.\n\nAn open state is delivered as a normal 200 — it is an answer, not a transport failure. SDKs surface it as a typed exception only when the caller opts in (guard with raise_on_open).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CBCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The current state. Note that a blocked subject returns 200 with allow=false.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CBCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/settings/notifications": {
      "get": {
        "tags": [
          "settings"
        ],
        "operationId": "getNotificationPrefs",
        "summary": "Read the calling API key's notification preferences",
        "responses": {
          "200": {
            "description": "The complete current set of preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPrefsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "settings"
        ],
        "operationId": "updateNotificationPrefs",
        "summary": "Update the calling API key's notification preferences",
        "description": "A partial update: supplied fields are written, omitted fields are left as they were. The response is the complete set after the update, in the same shape as the GET.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPrefsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The complete set of preferences after the update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPrefsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/divisions/{id}/config": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DivisionId"
        }
      ],
      "get": {
        "tags": [
          "divisions"
        ],
        "operationId": "getDivisionConfig",
        "summary": "Read a division's configuration",
        "description": "The config is an arbitrary JSON object; the server enforces no fixed schema beyond it being an object. `reasoning_mode` is read from here at ingestion time.",
        "responses": {
          "200": {
            "description": "The stored configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionConfigResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "put": {
        "tags": [
          "divisions"
        ],
        "operationId": "updateDivisionConfig",
        "summary": "Replace a division's configuration",
        "description": "A full replacement rather than a merge. Requires tenant_admin or above.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DivisionConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The configuration as stored after replacement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DivisionConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/frames/{frame_id}/story": {
      "parameters": [
        {
          "name": "frame_id",
          "in": "path",
          "required": true,
          "description": "As returned by EmitResult.frame_id.",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "workspace_id",
          "in": "query",
          "required": false,
          "description": "Optional filter narrowing the story to one workspace's perspective. Omitted (the normal case), the whole division's traces are returned: ingestion is division-scoped, so the frame's natural scope is the division, not one of the n_workspaces it fanned out to. SDKs MUST NOT send this unless the caller explicitly asked to narrow.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "tags": [
          "frames"
        ],
        "operationId": "getFrameStory",
        "summary": "Narrative lineage for a frame",
        "description": "The endpoint await_outcome() polls and the target of the `follow_my_data` path returned by POST /v1/agent-stream/event. Division-scoped: poll until summary.complete is true. See sdk-spec.md §2.7.",
        "responses": {
          "200": {
            "description": "Frame lineage.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameStoryResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/approvals": {
      "get": {
        "tags": [
          "approvals"
        ],
        "operationId": "listApprovals",
        "summary": "List approvals awaiting a human decision",
        "description": "The read half of the white-label human-in-the-loop control. Every field needed to render the decision is here, and none of it is DMZAgent's presentation: `reason` and `fired_policies[].name` are the operator's own policy words, and `action` is the held call verbatim.\n\nNot auto-paginated by SDKs. Follow `next_cursor` explicitly.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "declined",
                "expired"
              ],
              "default": "pending"
            },
            "description": "Defaults to pending — the only status that still needs a human."
          },
          {
            "name": "subject_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to one subject."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Page size."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque, from a previous response's next_cursor."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of approvals, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/approvals/{approval_id}/decision": {
      "post": {
        "tags": [
          "approvals"
        ],
        "operationId": "decideApproval",
        "summary": "Approve or decline a pending approval",
        "description": "`actor_id` is required and is the customer's own identifier for the deciding human — DMZAgent resolves it against no directory, which is what keeps the flow white-label.\n\nA second decision on a settled approval is 409, and so is a decision past `expires_at`. Neither is transient: the call did not fail, it lost. An Idempotency-Key replays the original decision instead of conflicting.\n\nExpiry declines. There is no configuration that makes it approve.",
        "parameters": [
          {
            "name": "approval_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "As returned by GET /v1/approvals."
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The decided approval, with `decision` populated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Approval"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableError"
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/incidents": {
      "get": {
        "tags": [
          "incidents"
        ],
        "operationId": "getIncidents",
        "summary": "Read the incident and remediation ledger",
        "description": "Every breaker that opened, every approval decided, and every remediation that ran. This is the readable form of the anchor that /v1/cb/check and /v1/approvals hand back: a caller who recorded `{ledger_index, hash}` at check time finds that entry here and compares hashes.\n\nOrdered by ledger_index descending, never by opened_at — two incidents in the same second have an order, and it is the one the ledger recorded.\n\nAppend-only. There is no PATCH, no DELETE, and no endpoint that closes an incident: `status` is a fold over what has been appended.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "remediated",
                "accepted",
                "all"
              ],
              "default": "all"
            },
            "description": "Filter by fold state."
          },
          {
            "name": "subject_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to one subject."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Entries at or after this instant."
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Entries strictly before this instant."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Page size."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque, from a previous response's next_cursor."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of ledger entries, newest ledger_index first.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/AuthError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "webhooks": {
    "outcome.completed": {
      "post": {
        "operationId": "onOutcomeCompleted",
        "summary": "Per-workspace reasoning finished for a frame",
        "description": "Delivered to a registered webhook URL as a CloudEvents 1.0 envelope. Verify the X-DMZAgent-Signature header before trusting the body — every SDK ships a verify_webhook_signature helper for this.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CloudEventEnvelope"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "const": "outcome.completed"
                      },
                      "data": {
                        "$ref": "#/components/schemas/OutcomeEvent"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges delivery."
          }
        }
      }
    },
    "review": {
      "post": {
        "operationId": "onReviewEvent",
        "summary": "A review was opened, resolved, or updated",
        "description": "Carries type `review.opened`, `review.resolved`, or `review.updated`. Delivered as a CloudEvents 1.0 envelope and signed the same way as outcome.completed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CloudEventEnvelope"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "enum": [
                          "review.opened",
                          "review.resolved",
                          "review.updated"
                        ]
                      },
                      "data": {
                        "$ref": "#/components/schemas/ReviewEvent"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Any 2xx acknowledges delivery."
          }
        }
      }
    },
    "approval": {
      "post": {
        "operationId": "onApprovalEvent",
        "summary": "An action is held pending a human decision, or that decision was made",
        "description": "The push half of the white-label control: the same Approval object GET /v1/approvals returns, delivered instead of polled.\n\nDelivery is at-least-once and not guaranteed, and `expires_at` runs regardless. A customer who builds only on this webhook and never reads /v1/approvals will hold actions that quietly expire — safe, but invisible.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CloudEventEnvelope"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "enum": [
                          "approval.requested",
                          "approval.decided"
                        ]
                      },
                      "data": {
                        "$ref": "#/components/schemas/Approval"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx acknowledges delivery."
          }
        }
      }
    },
    "incident": {
      "post": {
        "operationId": "onIncidentEvent",
        "summary": "A ledger entry opened an incident, or a remediation was appended to one",
        "description": "Carries the Incident in its state after the entry that fired the event. The ledger remains the authority; this saves a poll, it does not replace GET /v1/incidents.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignatureHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CloudEventEnvelope"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "enum": [
                          "incident.opened",
                          "incident.remediated"
                        ]
                      },
                      "data": {
                        "$ref": "#/components/schemas/Incident"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "description": "Any 2xx acknowledges delivery."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key, prefixed `ck_`, sent as `Authorization: Bearer ck_<api-key>`.\n\nSDKs reject an empty key, or one without the `ck_` prefix, at construction rather than on first call. The dashboard session cookie is never sent, and the legacy X-DMZAgent-Key header is deprecated for removal in v1.0."
      }
    },
    "parameters": {
      "DivisionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Division id, e.g. `div:abc`.",
        "schema": {
          "type": "string",
          "minLength": 1
        }
      },
      "SignatureHeader": {
        "name": "X-DMZAgent-Signature",
        "in": "header",
        "required": true,
        "description": "`t=<unix>,v1=<hex>` — HMAC over the raw body with the subscription secret. The retired X-Concordex-Signature header carries the same value for a deprecation window.",
        "schema": {
          "type": "string"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "description": "Caller-generated key making a retry of this request safe. Scope is (workspace, mode, key). A completed key replays its stored response verbatim; one still in flight returns 409.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        }
      }
    },
    "schemas": {
      "AgentStreamEventRequest": {
        "$ref": "./schemas/agent-stream-event-request.json"
      },
      "AgentStreamEventResponse": {
        "$ref": "./schemas/agent-stream-event-response.json"
      },
      "CBCheckRequest": {
        "$ref": "./schemas/cb-check-request.json"
      },
      "CBCheckResponse": {
        "$ref": "./schemas/cb-check-response.json"
      },
      "NotificationPrefsRequest": {
        "$ref": "./schemas/notification-prefs-request.json"
      },
      "NotificationPrefsResponse": {
        "$ref": "./schemas/notification-prefs-response.json"
      },
      "DivisionConfigRequest": {
        "$ref": "./schemas/division-config-request.json"
      },
      "DivisionConfigResponse": {
        "$ref": "./schemas/division-config-response.json"
      },
      "OutcomeEvent": {
        "$ref": "./schemas/outcome-event.json"
      },
      "ReviewEvent": {
        "$ref": "./schemas/review-event.json"
      },
      "CloudEventEnvelope": {
        "title": "CloudEventEnvelope",
        "description": "The CloudEvents 1.0 envelope every webhook delivery carries. The `data` shape depends on `type`.",
        "type": "object",
        "required": [
          "specversion",
          "type",
          "source",
          "id",
          "time",
          "datacontenttype",
          "data"
        ],
        "properties": {
          "specversion": {
            "const": "1.0"
          },
          "type": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "datacontenttype": {
            "const": "application/json"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "Error": {
        "title": "Error",
        "description": "The error body. `detail` is always present and human-readable; `error` carries a stable machine code on the responses that define one.",
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "FrameStoryResponse": {
        "type": "object",
        "description": "Narrative lineage for one frame (sdk-spec.md §2.7). Division-scoped: `reasoning[]` carries one entry per workspace the frame fanned out to, each naming its `workspace_id` and its own `outcome`. The top-level `outcome` is a fold over those with precedence failed > held > applied > no_change > skipped.",
        "required": [
          "frame_id",
          "reasoning",
          "summary"
        ],
        "properties": {
          "frame_id": {
            "type": "string"
          },
          "subject_id": {
            "type": "string"
          },
          "division_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Division that owns the subject."
          },
          "workspace_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Echoes the caller's filter; null for a division-scoped read."
          },
          "workspace_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Workspaces the frame fanned out to."
          },
          "outcome": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "skipped",
              "no_change",
              "applied",
              "failed",
              "held",
              null
            ],
            "description": "Fold over reasoning[]; null before any trace exists."
          },
          "occurred_at": {
            "type": "string",
            "format": "date-time"
          },
          "ingested_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "ingestion": {
            "type": "object",
            "description": "Connector instance and ingest job that produced the frame."
          },
          "frame": {
            "type": "object",
            "description": "The frame as submitted."
          },
          "reasoning": {
            "type": "array",
            "description": "One entry per workspace the frame fanned out to.",
            "items": {
              "type": "object",
              "required": [
                "trace_id",
                "workspace_id",
                "outcome"
              ],
              "properties": {
                "trace_id": {
                  "type": "string"
                },
                "workspace_id": {
                  "type": "string",
                  "description": "Workspace that produced this trace."
                },
                "outcome": {
                  "type": "string",
                  "enum": [
                    "skipped",
                    "no_change",
                    "applied",
                    "failed",
                    "held"
                  ]
                }
              }
            }
          },
          "soul_changes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "ledger": {
            "type": "array",
            "description": "Ledger anchors for the traces.",
            "items": {
              "type": "object"
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "trace_count": {
                "type": "integer"
              },
              "tags_fired": {
                "type": "integer"
              },
              "soul_versions": {
                "type": "array",
                "items": {
                  "type": "array"
                }
              },
              "ledger_anchored": {
                "type": "boolean"
              },
              "workspace_count": {
                "type": "integer",
                "description": "Workspaces expected to report."
              },
              "complete": {
                "type": "boolean",
                "description": "Every workspace has reported. The termination condition for await_outcome()."
              }
            },
            "required": [
              "trace_count",
              "workspace_count",
              "complete"
            ]
          }
        }
      },
      "Approval": {
        "$ref": "./schemas/approval.json"
      },
      "ApprovalPage": {
        "$ref": "./schemas/approval-page.json"
      },
      "ApprovalDecisionRequest": {
        "$ref": "./schemas/approval-decision-request.json"
      },
      "Incident": {
        "$ref": "./schemas/incident.json"
      },
      "IncidentPage": {
        "$ref": "./schemas/incident-page.json"
      }
    },
    "responses": {
      "ValidationError": {
        "description": "Malformed payload. SDKs raise ValidationError.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "AuthError": {
        "description": "API key missing, invalid, or revoked. SDKs raise AuthError.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PermissionError": {
        "description": "Key is valid and lacks the scope this call needs. SDKs raise PermissionError.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ConflictError": {
        "description": "A request carrying this Idempotency-Key is already in flight. Not transient: the duplicate is the caller's own earlier request. SDKs raise ConflictError and never retry automatically.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "UnprocessableError": {
        "description": "Well-formed but unprocessable — a bad event or rulebook. SDKs raise ValidationError.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimitError": {
        "description": "Rate cap reached. SDKs raise RateLimitError carrying retry_after parsed from the header, and never sleep on the caller's behalf.",
        "headers": {
          "Retry-After": {
            "description": "Delta-seconds. Absent or unparseable leaves retry_after null.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "Transient server-side failure, safe to retry. SDKs raise ServerError. Any other unexpected status raises the DMZAgentError base.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
